boto3==1.37.24
botocore==1.37.24
click==8.1.8
jmespath==1.0.1
kdtree==0.16
kml2geojson==5.1.0
python-dateutil==2.9.0.post0
python-dynamodb-lock==0.9.1
python-json-logger==3.3.0
s3transfer==0.11.4
six==1.17.0
urllib3==2.3.0
